<section class="m-5">
    <p-tabView>
        <p-tabPanel header="Hitos">
            <app-hitos></app-hitos>
        </p-tabPanel>
        <p-tabPanel header="Categories">
            <app-categorias></app-categorias>
        </p-tabPanel>
        <p-tabPanel header="Evidences">
            <app-tipo-evidencias></app-tipo-evidencias>
        </p-tabPanel>
        <p-tabPanel header="Relationship">
            <app-relation-ship-bt-ct></app-relation-ship-bt-ct>
        </p-tabPanel>
    </p-tabView>
</section>