<section class="m-3 anti-scroll">
    <div class="card mb-8 pb-8">
        <div class="grid">
            <div class="col-12 md:col-12 font-bold text-center p-4 border-round mb-3">
                <div class="text-5xl">Welcome Canopia System</div>
                <div class="text-2xl">New System to management projects information</div>
            </div>

            <div class="col-12 md:col-12 font-bold text-center p-4 border-round mb-3">
                <div class="text-2xl">We can start:</div>
            </div>
            <div class="col-12 md:col-5 pb-8">
                <div class="flex-1 align-items-center text-center">Select a project in the dropdown list to start</div>
                <div class="flex-1 h-4rem font-bold text-center p-4 border-round">
                    <p-image src="../../../../assets/layout/images/start-dropdown.png" alt="Image" width="350"></p-image>
                </div>
            </div>
            <div class="col-12 md:col-2 mt-8 pb-8 text-center">
                <div class="flex-1 align-items-center text-2xl">Or</div>
            </div>
            <div class="col-12 md:col-5  pb-8">
                <div class="flex-1 align-items-center text-center">Redirect to projets view and select a project to start</div>
                <div class="flex-1 h-4rem font-bold text-center p-4 border-round mx-4">
                    <p-image src="../../../../assets/layout/images/start-projectsView.png" alt="Image" width="350"></p-image>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-dashboard2 *ngIf="proyectoSelected?.idprojects"></app-dashboard2> -->
</section>