:host {
  display: block;
}


.status-pending{
  background-color: #E3F0EA; color: #000000; padding: 4px; border-radius: 5px;
}
.status-evaluation{
  background-color: #D87610; color: #FFFFFF; padding: 4px; border-radius: 5px;
}
.status-finished{
  background-color: #00946E; color: #FFFFFF; padding: 4px; border-radius: 5px;
}