<div class="login-body">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="login-logo flex align-content-center justify-content-center  flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <img class="img-fluid" src="../../../../assets/layout/images/logo-vertical.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-12 md:col-6 login flex align-content-center flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <div>
                        <div>
                            <h1>welcome</h1>
                            <h3>Canopia Carbon</h3>
                            <p class="pt-5">Enter the username and password to log in.</p>
                            <p-toast></p-toast>
                        </div>
                        <form #loginForm="ngForm" (ngSubmit)="iniciarSesion(loginForm)" class="flex flex-column">
                            <div class="grid pt-5">
                                <div class="col-12">
                                    <span class="p-float-label">
                                        <input class="w-full p-inputtext-lg" pInputText id="usuario_email"
                                            [(ngModel)]="usuario_email" (keydown.space)="$event.preventDefault();" name="usuarioEmail" email #emailModel="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required="true"/>
                                        <label htmlFor="usuario_email">User</label>
                                    </span>
                                        <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
                                            <small class="ng-invalid ng-dirty" *ngIf="emailModel.errors?.['required']">
                                            Email is required.
                                            </small>
                                            <small class="ng-invalid ng-dirty" *ngIf="emailModel.errors?.['pattern']">
                                            Invalid email format.
                                            </small>
                                        </div>
                                </div>
                                <div class="col-12">
                                    <span class="p-float-label">
                                        <p-password styleClass="p-inputtext-lg" [(ngModel)]="usuario_pw"
                                            name="usuarioPw" [feedback]="false" (keydown.space)="$event.preventDefault();" required="true" [toggleMask]="true"></p-password>
                                        <label for="usuario_pw">Password</label> 
                                    </span>
                                </div>
                                <div class="col-12 px-5">
                                    <p-button label="Access" styleClass="p-button-rounded w-full" id="loginBtn"
                                        type="submit"></p-button> <!--routerLink="/home"-->
                                </div>
                                <div class="col-12 px-5">
                                    <p>You don' have account:</p>
                                    <p-button label="Register" routerLink="/registro" styleClass="p-button-outlined p-button-rounded w-full"></p-button> <!--routerLink="/home"-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>