.status-pending{
    color: #707070; padding: 5px; border-radius: 5px;
}

.status-correction{
    color: #D1410D; padding: 5px; border-radius: 5px;
}

.status-evaluation{
    color: #D87610; padding: 5px; border-radius: 5px;
}

.status-finished{
    color: #00946E; padding: 5px; border-radius: 5px;
}

.status-canceled{
    color: #919191; padding: 5px; border-radius: 5px;
}

.colorback{
    background-color: #0abc7c;
}

.no-update-activity{
    color: #960000; padding: 5px; border-radius: 5px;
}

::ng-deep .p-toast .p-toast-message {
    background-color: rgba(255, 255, 255, 0.9) !important; /* Fondo claro */
    color: #333 !important; /* Texto oscuro */
    border: 1px solid #ccc; /* Opcional: añade un borde para mejor visibilidad */
    padding: 10px;
    border-radius: 5px; /* Opcional: bordes redondeados */
}

::ng-deep .p-toast .p-toast-message-content {
    white-space: normal !important; /* Permite varias líneas de texto */
    color: #333 !important; /* Asegura el color oscuro del texto */
}

.upload{
    background: #f3f9f7;
    border-radius: 8px;
    border: 1px solid #dde9e5;
    padding: 8px;
}

::ng-deep .p-checkbox.p-highlight .p-checkbox-box {
    background-color: #00946E !important;
    border-color: #00946E !important;
    color: #fff !important;
}