.margin-section{
    margin: 6em;
}

.backgroundcolor {
    background-color: #E3F0EA;
    border-radius: 10px;
}

.backgroundtable{
    background-color: #00946E;
    color: #ffffff;

}

::ng-deep p-inputnumber input {
  width: 100% !important;
}