
<div class="overflow-hidden">
  <p-toast></p-toast>
  <div class="flex">
    <div class="flex-none flex justify-content-center font-bold m-2 px-5 py-3 border-round">
      <p-table [value]="ctNotifyAll" [scrollable]="true" scrollHeight="750px" [style]="{'width': '350px', 'height': '500'}">
        <ng-template pTemplate="caption">
          <div class="text-2xl text-900">Notificaciones</div>
      </ng-template>
        <ng-template pTemplate="body" let-notifi>
            <tr class="pointer" (click)="handleNotificationClick(notifi)">
                <td>
                  <p-card>
                    <div class="text-2xl text-500">{{ notifi.ProjectName }}</div>
                      <div class="flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                            <p-tag *ngIf="notifi.statusauthorization == 'autorizado'" severity="success" value="{{ notifi.statusauthorization }}" [rounded]="true"></p-tag>
                            <p-tag *ngIf="notifi.statusauthorization == 'pendiente'" severity="warning" value="{{ notifi.statusauthorization }}" [rounded]="true"></p-tag>
                            <p-tag *ngIf="notifi.statusauthorization == 'rechazado'" severity="danger" value="{{ notifi.statusauthorization }}" [rounded]="true"></p-tag>
                        </span>
                    </div>  
                  </p-card>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
    </div>
    <div class="flex-1 flex justify-content-center m-2 px-3 py-3 border-round">
      <p-panel header="Detalles de la solicitud" [style]="{'width': 'auto', 'height': '700px'}" *ngIf="ExistProjectDetail && projectDetaillByid">
        <p class="m-0">
          <ng-container>
              <ul>
                <li><strong>ID Proyecto:</strong> {{ projectDetaillByid.idprojects }}</li>
                <li><strong>Nombre del Proyecto:</strong> {{ projectDetaillByid.ProjectName }}</li>
                <li><strong>Contraparte:</strong> {{ projectDetaillByid.Counterpart }}</li>
                <li><strong>ID de Agregación:</strong> {{ projectDetaillByid.Aggregation }}</li>
                <li><strong>Núcleo Agrario:</strong> {{ projectDetaillByid.NucleoAgrario }}</li>
                <li><strong>Tipo de Propiedad:</strong> {{ projectDetaillByid.TipoPropiedad }}</li>
                <li><strong>Municipio:</strong> {{ projectDetaillByid.Municipio }}</li>
                <li><strong>Estado:</strong> {{ projectDetaillByid.Estado }}</li>
                <li><strong>Justificación:</strong> {{ projectDetaillByid.Justification }}</li>
              </ul>
          </ng-container>
        </p>
        <div class="flex justify-content-center">
          <div *ngIf="disablebutton">
            <p-button label="Decline" (click)="UpdateInsertAceptrequest(projectDetaillByid.idprojects, 3)" styleClass="p-button-danger" class="m-2"></p-button>
          </div>
          <div *ngIf="disablebutton">
            <p-button label="Update" (click)="UpdateInsertAceptrequest(projectDetaillByid.idprojects, 2)" styleClass="p-button-success" class="m-2"></p-button>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>

