<section class="m-5">
    <div class="flex justify-content-center mb-5">
        <div class="text-4xl text-900">Carbon Equivalents Certificates</div>
    </div>
    <div class="grid">
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2022" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2022</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2023" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2023</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2024" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2024</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2025" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2025</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2026" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2026</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2027" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2027</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2028" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2028</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2029" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2029</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2030" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2030</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2031" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2031</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2032" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2032</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input type="text" pInputText [value]="Costs?.CECs2033" [readonly]="true">
                <label class="block mb-2" for="currency-us">CECs 2033</label>
            </span>
        </div>
    </div>
</section>